
.container{
    margin-top:80px ;
    margin-bottom: 173px;
}
.companyDetails{
    display: flex;
    gap: 30px;
}
.details{
    margin-top: 30px;
    margin-left: 10px;
}
.container table{
    margin-top: 30px;
    width: 90%;
}

a{
    cursor: pointer;
}
th,td{
    text-align: center;
}


