.fluid-container {
    height: 580px;
    border: 2px solid black;
}

.form {
    text-align: center;
    padding-top: 50px;
    width: 350px;
    height: 350px;
    border: 2px solid lightgray;
    margin-left: 450px;
    margin-top: 100px;
}
.input {
    margin-top: 30px;
}
input{
    margin-left: 10px;
}
.buttons {
    margin-top: 20px;
}
button{
    margin-right: 20px;
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
}
input.ng-invalid.ng-touched{
    border: 2px solid red;
}
span{
    color: red;
}

